[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/elasticsearch/cookbook-elasticsearch
[submodule "ark"]
	path = ark
	url = https://github.com/bryanwb/chef-ark
[submodule "custom_env"]
	path = opsworks_custom_env
	url = https://github.com/joeyAghion/opsworks_custom_env
[submodule "newrelic"]
	path = newrelic
	url = https://github.com/phlipper/chef-newrelic-sysmond
